html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0 .4rem;
    font: 1rem/1.5 "Helvetica Neue", Arial, sans-serif;
    color: #333;
}

description {
    display: block;
    font-size: .75rem/1.5;
    padding: 0 .4rem;
    color: #6d6d6d;
}

.title {
    display: block;
    float: left;
}

select {
    margin-left: .2rem;
    display: inline-block;
}

hr {
    color: rgba(100, 100, 100, .54);
}